<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ShireThèque</h5>
        <p class="grey-text text-lighten-4">
          ShireThèque est déstiné aux Hobbits curieux en soif de connaissances
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens utiles</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" routerLink="/product">Livres</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" routerLink="/product"
              >Auteurs</a
            >
          </li>
          <li>
            <a class="grey-text text-lighten-3" routerLink="/product">Truc</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Hobbit
      <a class="grey-text text-lighten-4 right" routerLink="/home">Lel</a>
    </div>
  </div>
</footer>
